* {
    box-sizing: border-box;
}


/***************
general
***************/

body {
    margin: 0;
    font-family: 'Caveat Brush', cursive;
    line-height: 1.5;
}

.main-header {
    height: 850px;
    padding-top: 170px;
    background: linear-gradient(#ffa949, transparent 90%), #ffa949 url('../img/mountains.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-header,
.title {
    text-align: center;
    letter-spacing: .065em;
    font-weight: 200;
    border-bottom: 2px solid;
    padding-bottom: 10px;
}

.title {
    font-size: 1.625em;
    color: white;
}

.primary-content {
    text-align: center;
    padding-bottom: 95px;
}

.secondary-content {
    padding-top: 80px;
    padding-bottom: 70px;
    border-bottom: 2px solid darkgreen;
}

.primary-content,
.secondary-content {
    width: 75%;
    margin: auto;
    padding-right: 50px;
    padding-left: 50px;
    max-width: 900px;
}

.t-border {
    border-top: 2px solid red;
}

ul li {
    margin-bottom: 5px;
}

ul,
ol {
    margin-left: 30px 0;
}

li {
    margin-bottom: 10px;
}

.arrow {
    width: 200px;
    margin-top: 150px;
}

img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.wildlife {
    padding-top: 100px;
    padding-right: 120px;
    padding-bottom: 100px;
    padding-left: 120px;
    border-top: 10px;
    border-style: solid;
    border-color: yellow;
    margin: 105px 0 60px;
    background-image: url('../img/bear.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 50px 10px rgba(0, 0, 0, .8);
    border-radius: 10px;
}

.callout {
    font-size: 1.25em;
    border-bottom: 3px solid;
    padding: 0 9px 3px;
    margin-top: 20px;
    display: inline-block;
}

#main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: solid 10px orange;
}


/****************
headline and p
****************/

h1 {
    font-size: 5.625em;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.3;
    text-shadow: 0 10px 1px rgba(0, 0, 0, .8);
    margin: 12px 0 0;
}

h2 {
    font-size: 53px;
    text-decoration: underline;
    font-weight: normal;
    margin-bottom: .5em;
}

h3 {
    font-size: 20px;
    margin-bottom: 1.7em;
}


/****************
float
****************/

.resorts,
.tips {
    width: 46.5%;
}

.resorts {
    float: left;
}

.tips {
    float: right;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}


/****************
colors
****************/

body {
    color: blue;
}

.title {
    color: white;
}

.main-header {
    background-color: orange;
}

.wildlife {
    color: white;
    background-color: black;
}

ul li {
    color: white;
    background-color: crimson;
}

h1 {
    color: white;
}

h3 {
    color: red;
}


/**************** 
css pseudo class
****************/

a:link {
    color: orange;
    text-decoration: none;
}

a:visited {
    color: blue;
}

a:hover {
    color: black;
}

a:active {
    color: white;
}

a:focus {
    color: darkgreen;
    background-color: white;
}


/****************
media queries
****************/

@media (max-width: 1024px) {
    .primary-content, .secondary-content {
        width: 90%;
    }
    .wildlife {
        padding: 10% 12%;
        margin: 50px 0 20px;
    }
}

@media(max-width: 768px) {
    .primary-content, .secondary-content {
        width: 100%;
        padding: 20px;
        border-top: none;
    }
    .main-header {
        max-height: 380px;
        padding: 50px 25px 0;
    }
    .title {
        font-size: 1.3rem;
        border: none;
    }
    h1 {
        font-size: 5rem;
        line-height: 1.1;
    }
    .arrow {
        display: none;
    }
    .intro {
        font-size: 1rem;
    }
    .resorts, .tips {
        float: none;
        width: 100%;
    }
    .main-footer {
        padding: 20px 0;
    }
}

@media(max-width: 375px) {
    h1 {
        font-size: 3rem;
    }
}